*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Pulllibrary/build/generated/assets/
Pulllibrary/build/generated/res/
Pulllibrary/build/generated/source/aidl/
Pulllibrary/build/generated/source/rs/
Pulllibrary/build/intermediates/bundles/debug/aidl/
Pulllibrary/build/intermediates/bundles/debug/assets/
Pulllibrary/build/intermediates/bundles/release/aidl/
Pulllibrary/build/intermediates/bundles/release/assets/
Pulllibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
Pulllibrary/build/intermediates/incremental/packageDebugResources/aapt-temp/
Pulllibrary/build/intermediates/incremental/packageReleaseResources/aapt-temp/
Pulllibrary/build/intermediates/incremental/processDebugAndroidTestResources/
Pulllibrary/build/intermediates/incremental/processDebugResources/
Pulllibrary/build/intermediates/lint/
Pulllibrary/build/intermediates/manifest/tmp/
Pulllibrary/build/intermediates/rs/
Pulllibrary/build/intermediates/shaders/
app/src/main/java/com/example/myliveapp/adapter/
app/src/main/java/com/example/myliveapp/bean/
